# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
web-build/

# Expo
.expo/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Environment
.env
.env.local
.env.production
*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*
lerna-debug.log*

# TypeScript
*.tsbuildinfo

# Misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
nul
